tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:씪좭;
	mso-style-id:0;}
.style57
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	mso-style-name:씳촚쫩;
	mso-style-id:8;}
a:link
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;}
a:visited
	{color:purple;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl66
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;}
.xl67
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#366092;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#538DD5;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl70
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl71
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl72
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#DAEEF3;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#DAEEF3;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#DAEEF3;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:Percent;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#DAEEF3;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:Percent;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl77
	{mso-style-parent:style57;
	color:blue;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl78
	{mso-style-parent:style0;
	color:red;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl79
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#366092;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid black;
	border-left:.5pt solid windowtext;
	background:#366092;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#538DD5;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid black;
	border-left:.5pt solid windowtext;
	background:#538DD5;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#366092;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid black;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#366092;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid black;
	background:#538DD5;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#538DD5;
	mso-pattern:black none;}
